
{% if messages %}
    {% for message in messages %}
        <div class="backend_show_error_msg alert-dismissable fade in alert alert-{% if message.level_tag == 'error' %}danger{% elif message.level_tag == 'success' %}success{% endif %}" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message.message}}
        </div>
    {% endfor %}
{% endif %}
{#  show this message if no car and epub in session when clicking change button (Start)   #}
    <!--<div class="alert-dismissable fade in alert alert-danger show_error_msg" role="alert">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
        <!--<span></span>-->
    <!--</div>-->
{#  show this message if no car and epub in session when clicking change button (End)   #}
